<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="news-list-page">
  <ion-list>
    <ion-item lines="full" *ngFor="let post of posts" (click)="showPostDetail(post)" class="animated fadeIn">
      <ion-thumbnail slot="start">
        <ion-img src="{{post.featured_url}}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2 [innerHTML]="post.title.rendered | sainitizeHtml"></h2>
        <p>Categoria: {{post.m_categories[0].name}}</p>
      </ion-label>
    </ion-item>
    <ion-infinite-scroll #infinite (ionInfinite)="getPosts()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>